<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
      *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.cont1{
    display: flex;
    height: 400px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 180px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
}

.form2{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;

}

.form2 h1{
    font-size: 2rem;
    margin: 40px;
}


.inputbox1{
    padding: 5px;
    width: 300px;
    border: 1px solid silver;
    outline: none;
    border-radius: 20px;
    margin-bottom: 20px;

    
}

 button[type="submit"]:hover {
    background-color: #f5d05f;
}

.reg-btn1{
    width: 300px;
    padding: 8px 0;
    border: none;
    background-color:#ffcd38;
    font-size: 18px;
    color: #fafafa;
    text-transform: uppercase;
    border-radius: 20px;
    margin-bottom: 50px;
    font-family: 'PT Sans', sans-serif;
    }

/* Right side img */
.side1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.side1 img{
    width: 395px;
    height: 395px;

}
    </style>

</head>
<body>
  {{>header}}
    <div class="cont1">

        <form action="/login"  id="registration-form" method="POST" class="form2">
    
                <h1>Login</h1>

                <div class="text-area">
                    <label for="email">Email</label><br>
                    <input type="email" class="inputbox1"  name="email" required>
                </div>
    
                <div class="text-area">
                    <label for="password">Password</label><br>
                    <input type="password" class="inputbox1"  name="password" required>
                </div>
    
                <div>
                    <button type="submit" value="submit" class="reg-btn1">Login</button>
                </div>
    
        </form> 

        <div class="side1">
            <img src="friend-student-graduate-young.jpg" alt="">
        </div>
</div>
</body>
</html>