<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>navbar}}
</head>
<body>
    <header>
    <div class="container">
        <span><img src="logo.jpg"> </span>
        <div id="lidesign">
                <div class="home"><a href="index">HOME</a></div>
                <div class="home"><a href="aboutus">ABOUT US</a></div>
                <div class="home"><a href="faq">FAQ</a></div>
                <div class="home"><a href="register">REGISTRATION</a></div>
                <div class="home"><a href="login">LOGIN</a></div>

        </div>
    </div>
    </header>
</body>
</html>

