<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet"  href="/css/styleup.css"> 
</head>
<body>
   <section class="home">
        <div class="home-text_container">
            <h1 class="home-title">Scholarships for Indian Students</h1>
            <span class="home-subtitle">Post-Graduation</span>
        </div>

    </section> 
</body>
</html>